<h1>Residents</h1>

<ul>
<% @tenants.each do |tenant| %>
   <li> <%= tenant.name %>
    <%= link_to "View details", tenant_path(tenant) %>
    </li>
<% end %> 
</ul>

<%= link_to "Add a new resident", new_tenant_path %>



