<h3>What would you like to do? </h3>

<div class="home-container">

<ul>

<li> <%= link_to "View apartments", apartments_path %> </li>
<li> <%= link_to "View residents", tenants_path %></li>
<li> <%= link_to "Sign a new lease", new_lease_path%></li> 

</ul>


</div>
