<h1>Apartments</h1>
<%= link_to "Create a new apartment", new_apartment_path %>

<ul>
<% @apartments.each do |apartment| %>
   <li> <h3>Unit # <%= apartment.number %></h3>
    <%= link_to "View details", apartment_path(apartment) %>
    </li>

<% end %>
</ul>

