<h1>Apartments</h1>

<ul>
<% @apartments.each do |apartment| %>
   <li> <h3>Unit # <%= link_to "#{apartment.number}", apartment_path(apartment) %></h3>
    
    </li>

<% end %>
</ul>

<%= link_to "Create a new apartment", new_apartment_path %> 

