<h1>Apartment information</h1>

<h2>Unit <%= @apartment.number %></h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque consequuntur deleniti facilis, magni doloremque sed dicta fugit quas nulla vitae in fugiat dolorem nemo ad, quos, quis qui? Nobis molestiae dolore quasi unde fugit distinctio ducimus excepturi animi amet provident maxime fuga a sed repellat, aspernatur optio dolorum ex eaque.</p>

<%# <h3>Rent: <%= @apartment.rent %>
<%# <h3>Current tenant/s: <%= @lease.tenant.name %> 

<%= link_to "View tenant profile", apartment_tenants_path(@apartment) %>


